@import "tailwindcss";

:root {
  --watercourse-green: #07734b;
  --ufo-green: #41d976;
  --medium-aqua: #6ceead;
  --harlequin-green: #4ad600;
  --mindaro-yellow: #dcf28d;
  --almost-black: #2c2c2c;
  --mint-green: #6ceeac;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: var(--almost-black);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
